export HOME="/Users/ehagerty"
#export GOOGLE_APPLICATION_CREDENTIALS="/Users/edhagerty/.config/gcloud/prod-ed-as-a-service.json"
#export GOOGLE_SERVICE_ACCOUNT="ed-as-a-service@stc-production-150269.iam.gserviceaccount.com"
#export GOOGLE_FIREBASE_CREDENTIALS="/Users/ehagerty/.config/gcloud/stc-production-150269-firebase-adminsdk-lq6iq-12d10a6b08.json"
gcloud beta config configurations activate "stc-production" --verbosity error
git config user.email "ed@sweettreeconnect.com"
git config user.name "Ed Hagerty"
#1
# set ESP-IDF up
#export IDF_PATH="/Users/ehagerty/bin/cp/circuitpython/ports/espressif/esp-idf"
#export IDF_TOOLS_PATH="/Users/ehagerty/.espressif"
#export IDF_PYTHON_ENV_PATH="/Users/ehagerty/.espressif/python_env"
#
#export ESP_PYTHON="/Users/ehagerty/.espressif/python_env"
#
#export ESP_IDF_VERSION="5.1"
#export IDF_TOOLS_INSTALL_CMD="/Users/ehagerty/bin/esp/esp-idf/install.fish"
#export IDF_TOOLS_EXPORT_CMD="/Users/ehagerty/bin/esp/esp-idf/export.fish"
#
# idf.py menuconfig is how you get the menuconfig you are used to from olden times
#
# after you know you can install esp-idf and from your make
# directory you can run the esp-idf variable export script
# then you should ensure that at the root of mp you can make -C mpy-cross
# then from ports/esp32 you should make clean, then
# run make BOARD=STC_S3_SPIRAM_OCT_N32R8V
#
# make -C ports/espressif/ BOARD=stc_4x4_esp32s3_n32r8v

# make BOARD=STC_S3_SPIRAM_OCT_N32R8V USER_C_MODULES=/Users/ehagerty/bin/mp/modules/tlc5947-rgb-micropython/micropython.cmake all
# make BOARD=STC_S3_SPIRAM_OCT_N32R8V USER_C_MODULES=/Users/ehagerty/bin/mp/modules/tlc5947-rgb-micropython/micropython.cmake CFLAGS_EXTRA=-DMODULE_TLC5947_ENABLED=1 all
#
# direnv allow .
# . /Users/ehagerty/bin/cp/circuitpython/ports/espressif/esp-idf/export.fish
# make -C ports/esp32/ clean
# make -C ports/esp32/ BOARD=STC_S3_SPIRAM_OCT_N32R8V USER_C_MODULES=/Users/ehagerty/bin/mp/modules/tlc5947-rgb-micropython/micropython.cmake CFLAGS_EXTRA=-DMODULE_TLC5947_ENABLED=1 all
#
export ESPTOOL_CHIP="esp32s3"
#export ESPTOOL_BAUD=460800
export ESPTOOL_BAUD=115200
export ESPTOOL_CONNECT_ATTEMPTS=3
export ESPTOOL_BEFORE="default_reset"
export ESPTOOL_AFTER="hard_reset"
#export ESPTOOL_FF="40m"
#export ESPTOOL_FM="dio"
#export ESPTOOL_FS="16MB"
#export ESP_ERASE_FLASH="0xD0"
#export ESP_ERASE_REGION="0xD1"
#export ESP_READ_FLASH="0xD2"
#export FLASH_WRITE_SIZE="0x400"
#
export ESPTOOL_PORT=/dev/tty.usbserial-101
export AMPY_PORT=$ESPTOOL_PORT
export AMPY_BAUD=$ESPTOOL_BAUD
export AMPY_DELAY=0.5
#
